/* Estilo geral do rodapé */
footer {
  padding: 1rem 0;
  text-align: center;
  color: #F582A7; /* Texto em rosa claro para contraste */
  border-top: 2px solid #711A75; /* Linha superior decorativa */
}

/* Estilo dos links sociais */
.socialLinks a {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: #F10086; /* Rosa vibrante */
  text-decoration: none;
  transition: color 0.3s ease;
}

.socialLinks a:hover {
  color: #F582A7; /* Rosa claro no hover */
}

/* Ícones dentro dos links sociais */
.socialLink .materialSymbolsOutlined {
  font-size: 2rem;
}
