.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Contêiner geral que agrupa a seção "Sobre" e "Habilidades" */
.aboutSkills {
  display: flex; /* Organiza os elementos lado a lado (horizontalmente) */
  flex-wrap: wrap; /* Permite que os elementos quebrem linha quando necessário */
  gap: 2rem; /* Espaçamento entre os elementos */
  text-align: left; /* Alinha o conteúdo de texto à esquerda */
}
